.Card {
    height: 200px;
    width: calc((100% - 100px)/3);
    margin-right: 50px;
    border: 1px solid #eee;
    /* -webkit-box-shadow: 0 2px 3px #ccc; */
    box-shadow: 0 2px 3px #ccc;
    padding: 15px;
    text-align: center;
    float: left;
    box-sizing: border-box;
    transition: 0.4s;
    color: rgb(94, 91, 91);
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
}

.Body-2 .Card {
    color: white;
    /* width: calc((100% - 1000px)/3); */
    box-shadow: none;
    width: 30%;
    height: 400px;
}

.Body-2 .CardHolder {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
  }



.Body-2 .Card:first-of-type:before {
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    left: -18px;
    bottom: -18px;
    border-left: 12px solid #b821f0;
    border-bottom: 12px solid #b821f0;
    opacity: 0.6;
    transition: 0.5s;
    z-index: 5;
  }


.Body-2 .Card:last-of-type:before {
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    right: -18px;
    top: -18px;
    border-right: 12px solid #b821f0;
    border-top: 12px solid #b821f0;
    opacity: 0.6;
    transition: 0.5s;
    z-index: 5;
}

.Body-3 .CardContent {
    opacity: 0.5;
    transition: 0.4s;
    padding-top: 20px;
}

.Body-3 .Card:hover {
    transform: scale(1.03);
}

.Body-3 .Card img {
    height: 80px;
    opacity: 0.1;
    transition: 0.4s;
}

.Body-2 .Card img {
    padding:  10px;
    height: 90px;
}

.Body-3 .Card:hover img {
    opacity: 0.2;
}

.Body-3 .Card:hover .CardContent {
    opacity: 0.9;
}


.Card:nth-of-type(3){
    margin-right: 0px;
}

