body{
  overflow-x: hidden;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

video {
  position: relative;
  /* left: -50%; */
  margin: 0px;
  width: 100%;
}

h2 {
  padding: 25px;
  margin: 0px;
  color: rgb(170, 170, 170);
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.miniHeader {
  position: relative;
  width: 200px;
  margin: auto;
}

.miniHeader:before {
  content: "";
  height: 100%;
  position: absolute;
  bottom: 30px;
  border-bottom: 4px solid rgb(170, 170, 170);
  transform: scaleX(0);
  transition: 0.5s;
  z-index: 3;
}

.miniHeader.two {
  color: white;
}

.miniHeader.one:before {
  width: 200px;
  left: calc((100% - 200px) / 2);
}


.miniHeader.two:before {
  width: 150px;
  left: calc((100% - 150px) / 2);
  border-bottom: 4px solid white;
}

.miniHeader:hover:before {
  transform: scaleX(1);
}

.App-logo {
  animation: App-logo-spin infinite 5s ease-in-out;
  height: 80px;
  display: none;
}

.App-header {
  position: absolute;
  height: 150px;
  padding: 20px;
  color: white;
  z-index: 10;
  /* left: calc((100vw - 190px) / 2); */
}

.start {
  text-align: left;
  overflow: hidden;
  background-color: grey;
  height: 100%;
  width: 100%;
  color: white;
  background-image: url('mainbgr.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position-y: 25%;
}

.Body-1 {
  text-align: left;
  overflow: hidden;
  background-color: grey;
  height: 100%;
  width: 100%;
  color: white;
  background-image: url('aboutbgr.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position-y: 90%;
}

.Body-2 {
  background-color: #ccc;
  height: 70%;
  width: 100%;
  color: white;
  background: linear-gradient(0deg, rgba(0,0,0,0.4),rgba(0,0,0, 0.4)), url('laptopbg.jpg');
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Body-3 {
  background-color: #fff;
  height: 40%;
  width: 100%;
  color: white;
  
}



.Body-4 {
  background-color: #fff;
  height: 70%;
  width: 100%;
  color: white;
}

.aboutholder {
  background-color: black;
  margin: 5%;
  opacity: 0.4;
  width: 35%;
  height: 70%;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 25px;
  position: relative;
}

.animate.aboutholder::before, .animate.aboutholder::after{
  width: 25%;
  /* height: calc(55px); */
  height: 25%;
}

.aboutholder::before {
  content: "";
  width: 35px;
  height: 35px;
  position: absolute;
  right:-25px;
  bottom: -25px;
  border-bottom: 15px solid #b821f0;
  border-right: 15px solid #b821f0;
  transition: 0.5s;
  z-index: 5;
}

.aboutholder::after {
  content: "";
  width: 35px;
  height: 35px;
  position: absolute;
  left: -25px;
  top: -25px;
  border-left: 15px solid #b821f0;
  border-top: 15px solid #b821f0;
  transition: 0.5s;
  z-index: 5;
}

p .aboutholder {
  top: 4.7em;
  position: relative;
  z-index: 2;
  opacity: 0.8;
  color: black;
}

.backBox {
  background-color: rgb(231, 231, 231);
  width: 500px;
  height: 500px;
  float: right;
  position: relative;
  top: 50px;
  left: 150px;
}

.imgHolder {
  background-color: green;
  width: 100%;
  height: 100%;
  float: right;
  top: -50px;
  left: -50px;
  position: absolute;
}

.CardHolder {
  width: 1000px;
  margin: 0 auto;
}


.footer {
  height: 50%;
  background: black;
  position: relative;
}

.footer:before {
  content: '';
  width: 100%;
  height: 100px;
  position: absolute;
  top: -30px;
  left: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('transition.png');
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  margin: 0px;
}

p {
  margin: 0px;
}

@keyframes App-logo-spin {
  from { transform: scale(1) rotate(0deg); }
  50% { transform: scale(1.5) rotate(180deg); }
  to { transform: scale(1) rotate(360deg); }
}
